---
import Layout from '../layouts/AboutLayout.astro';
import H1 from '../components/mdxComponents/H1.astro'
import Image from '../components/mdxComponents/Image.astro'
import P from '../components/mdxComponents/P.astro'
import Link from '../components/mdxComponents/Link.astro'
---

<Layout
	title="Curious, Multidisciplinary Designer"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
    <section class="mb-16">
      <div class="flex flex-col md:flex-row gap-8">
        <div >
          <H1 className="md:w-2/3">Curious, <br>Multidisciplinary <mark>Designer.</mark></H1>
          <Image src="/about/me.jpg" alt="Profile picture" class="w-full rounded-lg mb-8 grayscale hover:grayscale-0">
        </div>
      </div>

      <div class="md:w-2/3 space-y-6">
        <P>My passion for design and creation started at the age of 16, when I began to teach myself how to code websites to bring my ideas to life.</P>
        <P>I became interested in design because of its ability to make lives easier.</P>
        <P class="font-bold">
          You can contact me via:
          <Link href="https://www.linkedin.com/in/ruwaizrazak/" target="_blank" class="mx-2">LinkedIn</Link>
          <a href="https://www.threads.net/@ruwaizrazak" target="_blank" class="mx-2">Threads</a>
          <a href="mailto:hello@ruwaizrazak.com" class="mx-2">hello@ruwaizrazak.com</a>
        </P>
      </div>
    </section>

    <section class="mb-16">
        <div class="md:w-1/4 mb-4 md:mb-0">
          <h4 class="text-xl font-semibold">Games I contributed to so far that I can talk about:</h4>
        </div>
        <div class="md:w-2/3 grid grid-cols-2 md:grid-cols-4 gap-4">
          <img src="about/DH2018.jpg" alt="DH2018" class="w-full rounded">
          <img src="about/DHC.jpg" alt="DHC" class="w-full rounded">
          <img src="about/DINOHUNTER.jpg" alt="DINOHUNTER" class="w-full rounded">
          <img src="about/QUIZUP.jpg" alt="QUIZUP" class="w-full rounded">
          <img src="about/ena.jpg" alt="ena" class="w-full rounded">
          <img src="about/fv2.jpg" alt="fv2" class="w-full rounded">
          <img src="about/fv3.jpg" alt="fv3" class="w-full rounded">

        </div>
      <hr class="my-8 border-gray-200">
    </section>
</Layout>
