---
import Layout from '../layouts/AboutLayout.astro';

import Image from '../components/mdxComponents/Image.astro';
import P from '../components/mdxComponents/P.astro';
import Link from '../components/mdxComponents/Link.astro';
import H3 from '../components/mdxComponents/H3.astro';
import GradientHeading from '../components/mdxComponents/gradientHeading.astro';
import Button from '../components/Button.astro';
import CareerTimeline from '../components/CareerTimeline.astro';
import GradientLine from '../components/mdxComponents/gradientLine.astro';
import ToSinglePost from '../components/mdxComponents/ToSinglePost.astro';
---

<Layout
	title="Curious, Multidisciplinary Designer"
	description="Lorem ipsum dolor sit amet"
>
    <section class="mb-20 sm:mt-10 lg:mt-30 md:max-w-full lg:max-w-3xl xl:max-w-6xl  mx-auto">
      <div class="flex flex-col md:flex-row gap-8">
        <div>
          <div class="flex flex-row">
            <div class="flex flex-col">
              <GradientHeading size='xl' className='w-full'>
                Designer, Learner and Builder</GradientHeading>
                <div class="flex flex-row -mt-10"></div>
              <p class="w-full md:w-[80%] mx-auto lg:mx-0 text-lg lg:text-left sm:text-xl mt-0 font-serif">
                At the intersection of UX, systems thinking, and interactive development, I blend research, prototyping, and data-informed decisions to craft purposeful, player-centered experiences.<br/><br/>
                Currently building something exciting with Nordeus. Previously shaped player experiences at Zynga and Glu Mobile.
              </p>
              <div class="flex-col my-10 space-x-5">
                <Button href="mailto:hello@ruwaizrazak.com" variant='primary'>
                  Mail Me
                </Button>
                <Button href="/ruwaizcv.pdf" target={'_blank'}>
                  Download CV
                </Button>
              </div>
            </div>
           
              <img src="/about/ruwaiz1.jpg" alt="Profile picture" class="w-1/3 h-auto object-cover"></img>
            
          </div>
          
          
          
          <div>
            <div class="timeline-container relative mt-20">
              <div class="flex flex-row gap-8">
                <GradientHeading size="lg" className="mb-8 sm:whitespace-nowrap">Career Timeline</GradientHeading>
                <GradientLine angle={45} startPercentage={20} endPercentage={80} className="h-[60px] w-[80%]" direction='rtl'/>
              </div>
              {
                // Define items inline for now; could be moved to a separate data file later
              }
              <CareerTimeline
                items={[
                  {
                    role: 'Senior UX Designer',
                    company: 'Nordeus',
                    period: '2024–Present',
                    description: ['Building something cool with other Nordeans','Collaborating with cross-functional teams to ensure accessibility and usability at every stage of development.','Maintaining cross-team design documentation to ensure seemless collaborations.'],
                    present: true,
                    url:'https://nordeus.com/',
                  },
                  {
                    role: 'Senior UX Designer',
                    company: 'Zynga',
                    period: '2023–2024',
                    description: [
                    'Redesigned navigation and FTUE to improve new-user retention.',
                    'Presented design strategies to stakeholders and collaborated across disciplines.',
                    'Mentored interns and associates, fostering growth in UX craft and process.',
                    'Defined and validated A/B tests with measurable KPIs.',
                    'Enhanced the end-to-end player journey by uncovering and resolving friction points.'
                     ],
                    url:'https://www.zynga.com/',
                  },
                  {
                    role: 'UX Designer',
                    company: 'Zynga',
                    period: '2021–2023',
                    description:[
                    'Contributed to Farmville 3’s UX transition from an external studio to Zynga.',
                    'Revamped ad-watching flows to boost engagement and retention.',
                    'Built Figma + Unity design systems to streamline workflows.',
                    'Developed in-game survey systems to capture player insights at scale.',
                    'Designed and implemented Unity prefabs for Farmville 3 and Empires & Allies.',
                    'Shipped and scaled features on global titles (Farmville 3, Empires & Allies, Deer Hunter)', 
                    'leading design initiatives across onboarding, engagement, monetization, and live-ops while bridging UX with development through design systems, survey tools, and prefabs.'
                    ],
                      url:'https://www.zynga.com/',
                  },
                  {
                    role: 'Associate UX Designer',
                    company: 'Zynga',
                    period: '2019–2021',
                    description:[
                     'Designed features using competitive analysis, UX research, and iteration.',
                     'Partnered with PMs and game designers to align UX with business goals.',
                     'Built Unity prefabs and integrated Figma animations into Unity.',
                     'Built a scalable feature resulting in improved engagement and retention of elder players',
                     'Acted as Associate PM (Q1 2021), supporting revenue KPIs and roadmaps.'
                    ],
                      url:'https://www.zynga.com/',
                  },
                  {
                    role: 'Associate UX Designer',
                    company: 'Glu Mobile',
                    period: '2018–2019',
                    description:
                    [  'Contributed to multiple live-ops games to optimize KPIs',
                      'Conducted funnel analysis on onboarding, reducing churn and boosting retention.',
                      'Designed and delivered features with wireframes, prototypes, and usability tests.',
                      'Defined VFX/SFX specifications to improve feature polish and player delight.',
                      'Facilitated and analyzed both quantitative and qualitative surveys using playtest cloud, survey monkey and data dashboards and formulated actionabe reports',
                    ]

                  },
                ]}
              />
            </div>
            <div>
              <div class="flex flex-row gap-8 mt-20">
                <GradientHeading size="lg" className="mb-8 sm:whitespace-nowrap">Case Studies</GradientHeading>
                <GradientLine angle={45} startPercentage={20} endPercentage={80} className="h-[60px] w-[80%]" direction='rtl'/>
                
                </div>
                <p class="text-xl font-serif w-2/3 mt-0">While I can’t share what I did at my previous companies, I can give a glimpse on my process and the project I worked on.</p>
                <div class="p-5 mx-auto mt-10">
                  <ToSinglePost
                  title="Deer Hunter 2018"
                  subtitle="ASSOCIATE USER EXPERIENCE DESIGNER"
                  company="GLU"
                  description="We built tournament systems to address the low engagement from elder users, after conducting multiple focus groups, market analysis, qualitative and quantitative surveys. Here is a sneak peek"
                  imageSrc="/casestudies/DeerHunter2018.png"
                  url="/works/deerhunter2018"
                  />
  
              </div>
            </div>
              
          </div>
        </div>
      </div>
    </section>

</Layout>
