---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Link from '../components/mdxComponents/Link.astro';
import DataCard from '../components/DataCard.astro';
import { getCollection } from 'astro:content';
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <ClientRouter />
	</head>
	<body class="bg-backgroundcolor">
		<Header />
		<main class="w-full sm:w-[90%] lg:w-[90%] xl:w-[80%] 2xl:w-[70%] mx-auto">
      <!--Hero Section -->
      <div class="text-center py-20">
        <h1 class="text-4xl font-medium">Hi, I'm Ruwaiz</h1>
        <p class="text-xl font-serif w-3/5 mx-auto pt-5">Interdisciplinary product designer at an intersection of strategy, data, motion, interaction design and amateur development.</p>
      </div>
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-1">
          <DataCard
            header="Works"
            description="Glimpse at my previous works"
            icon="/icons/Work.svg"
          />
        </div>
        <div class="col-span-1">
          <p>I'm a product designer at an intersection of strategy, data, motion, interaction design and amateur development.</p>
        </div>
        <div class="col-span-1">
          <p>I'm a product designer at an intersection of strategy, data, motion, interaction design and amateur development.</p>
        </div>
        <div class="col-span-1">
          <p>I'm a product designer at an intersection of strategy, data, motion, interaction design and amateur development.</p>
        </div>
      </div>
</div>


		</main>
		<Footer />
	</body>
</html>
