---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<section class="intro-section flex flex-col items-start justify-center h-[calc(80vh-30px)]">
  <h1 class="garden-heading text-left text-syoro font-sans text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold leading-none max-w-5xl">{title}</h1>
  <p class="garden-description font-serif text-2xl md:text-[32px] text-left text-syoro mt-6 max-w-4xl italic">
    {description}
  </p>
</section>
