---
import Link from './mdxComponents/Link.astro';

const today = new Date();
const navLinks = [
  { title: 'Home', path: '/' },
  { title: 'Garden', path: '/garden' },
  { title: 'About', path: '/about' },
];
---

<footer class=" bg-gray-50 py-10 border-t-1 mt-20 border-slate-200">
  <nav>
    <ul class="flex gap-6 px-10">
      {navLinks.map(link => (
        <li>
          <Link href={link.path} class="text-sm hover:text-yellow-600 transition-colors">{link.title}</Link>
        </li>
      ))}
    </ul>
  </nav>
  <div class="text-sm mt-5 px-10 m">
    &copy; {today.getFullYear()} Ruwaiz Razak. All rights reserved.
  </div>
</footer>
