---
import Link from './mdxComponents/Link.astro';

interface Props {
  href: string;
  title: string;
  description?: string;
}

const { href, title, description } = Astro.props;
---

<li class="flex gap-2 items-baseline text-xl group mt-1">
  <Link href={href}>{title}</Link>
  {description && <span class="pl-2 pr-5 text-konpeki text-3xl blur-xs group-hover:blur-none duration-150 font-handwriting">{description}</span>}
</li>

<!--Usage Example
<GardenLink
              href="/notes"
              title="Notes"
              description="Very much under NDA, but I can show you my process"
            />
-->