---
import HeaderLink from './HeaderLink.astro';
---

<header class="w-full mx-auto border-b-1 border-gray-100 mt-5">
	<nav>
			<h4 class="text-xl text-center md:text-right md:px-20 text-gray-400">A CACOPHONY OF THOUGHTS</h4>
	</nav>
</header>
