---
import HeaderLink from './HeaderLink.astro';
---

<header class="w-2/5 mx-auto border-b-1 border-gray-100 mt-5">
	<nav class=" bg-white/90 backdrop-blur-3xl backdrop-opacity-10">
		<div class="internal-links flex items-center justify-center h-full">
			<HeaderLink href="/" className="flex items-center">Home</HeaderLink>
			<div class="relative group flex items-center">
				<HeaderLink href="/garden" className="inline-flex items-center space-x-1">
					<span>Garden</span>
					<svg class="inline-flex h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
					</svg>
				</HeaderLink>
				<div class="absolute top-full hidden group-hover:block w-48 bg-white shadow-lg rounded-md">
					<a href="/garden" class="block px-4 py-2 hover:bg-yellow-50 text-lg">Garden</a>
					<a href="/essays" class="block px-4 py-2 hover:bg-yellow-50 text-lg">Essays</a>
					<a href="/notes" class="block px-4 py-2 hover:bg-yellow-50 text-lg">Notes</a>
					<a href="/books" class="block px-4 py-2 hover:bg-yellow-50 text-lg">Books</a>
					<a href="/works" class="block px-4 py-2 hover:bg-yellow-50 text-lg">Works</a>
				</div>
			</div>
			<HeaderLink href="/about" className="flex items-center">About</HeaderLink>
		</div>
	</nav>
</header>
<style>

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
  @keyframes linkAnimation {
  from {
    text-underline-offset: .4em;
  }

  to {
    text-underline-offset: -.4em;
  }
}
  nav a:hover {
    text-decoration-skip-ink: none;
    text-decoration-color: var(--primary-color);
    background-color: yellow !important;
    text-decoration-thickness: .1em;
    animation: .2s 1 forwards linkAnimation;
  }


	nav a.active {
		text-decoration: line-through;
    text-decoration-thickness: 3px;
    pointer-events: none;
    opacity: 80%;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
