---
import HeaderLink from './HeaderLink.astro';
import Navigation from './Navigation.astro';
const menuItems = [
  {
    name: "Garden",
    href: "/garden",
    icon: "/icons/garden.svg",
    description: "Everything in Garden"
  },
  {
    name: "Essays",
    href: "/essays",
    icon: "/icons/essays.svg",
    description: "long, bit more refined."
  },
  {
    name: "Notes",
    href: "/notes",
    icon: "/icons/notes.svg",
    description: "short, raw, impulsive thoughts"
  },
  {
    name: "Books",
    href: "/books",
    icon: "/icons/book.svg",
    description: "Books I've read and want to read"
  },
  {
    name: "Series",
    href: "/series",
    icon: "/icons/series.svg",
    description: "Writings, episodal"
  }
];
const additionalLinks = [
  { name: "About", href: "/about",description:"More in terms of what I'm" },
  { name: "Live", href: "/live",description:"What am i indulged in currently?" },
  { name: "CV", href: "/cv",description:"If you are interested in my career" }
];
---

<header class="w-full mx-auto border-b-1 bg-backgroundcolor border-card-border">
	<nav>
		<Navigation 
  			menuItems={menuItems}
  			additionalLinks={additionalLinks}
  			logoText="CACOPHONY OF THOUGHTS"
  			logoHref="/"
		/>
	</nav>
</header>
