---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/garden">Garden</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		border: 1px solid rgba(134, 177, 23, 0.15);
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
  @keyframes linkAnimation {
  from {
    text-underline-offset: .4em;
  }

  to {
    text-underline-offset: -.4em;
  }
}
  nav a:hover {
    text-decoration-skip-ink: none;
    text-decoration-color: var(--primary-color);
    background-color: yellow !important;
    text-decoration-thickness: .1em;
    animation: .2s 1 forwards linkAnimation;
  }


	nav a.active {
		text-decoration: line-through;
    text-decoration-thickness: 3px;
    pointer-events: none;
    opacity: 80%;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
