---
import Link from './mdxComponents/Link.astro';
---

<section id="Intro-text" class="w-full sm:w-3/4 md:w-3/4 xl:w-[50%] font-serif my-30 text-syoro">
  <p class="index-intro text-lg md:text-2xl  mb-2 text-syoro/60 font-sans" >Currently Senior UX Designer at <Link href="https://nordeus.com/" class="text-link">Nordeus.</Link></p>
  <p class="index-intro text-2xl md:text-3xl xl:text-4xl ">I design and optimize product systems that improve onboarding, retention, and long-term user motivation</p>
</section>

<style>
  .index-intro {
    opacity: 0;
  }

  :global(body.animate-in) .index-intro {
    animation: HeroSectionIntro 0.7s ease-in-out 0.3s forwards;
  }

  :global(html.returned-from-work) .index-intro,
  :global(body.returned-from-work) .index-intro {
    animation: none;
    opacity: 1;
    transform: none;
  }

  @keyframes HeroSectionIntro {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
