---
// NoteCard.astro - Reusable card component for notes
export interface Props {
  title: string;
  description?: string;
  pubDate: Date;
  url: string;
}

const {
  title = 'Untitled',
  description = '',
  pubDate,
  url
} = Astro.props;

const formattedDate = new Date(pubDate).toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<div class="group hover:scale-98 transition-all">
  <a href={url} class="block p-4 border-b-1 border-syoro border-opacity-10 border-dashed hover:bg-yellow-50">
    <div class="flex gap-2">
      <img src="/icons/seed.svg" alt="seed icon" class="w-6 h-auto">
      <h3 class="uppercase sm:capitalize text-2xl lg:text-3xl font-medium text-konpeki">{title}</h3>
    </div>

    {description && <p class="text-base sm:text-lg text-syoro mt-1">{description}</p>}
    <div class="text-sm text-syoro mt-2 uppercase">
      {formattedDate}
    </div>
  </a>
</div>