---
import { proseClasses } from '../utils/proseClasses';
import TocPill from './toc/TocPill.astro';
---

<div class="note-layout mx-auto relative w-full max-w-7xl">
  <article class={`${proseClasses} e-content px-5 md:px-12 lg:px-20 py-20 w-full mx-auto min-w-0`}>
    <slot />
  </article>
  <TocPill />
</div>

<script>
  import { initOnLoad } from '../utils/initOnLoad';
  import { initTOC } from '../scripts/toc';
  initOnLoad(initTOC);
</script>
