---
const { tag, isActive } = Astro.props;
---

<a
  href={`/tags/${tag}`}
  data-tag={tag}
  class={`px-4 py-2 text-sm border transition-transform duration-200 ease-snappy hover:-skew-x-6 active:scale-[0.97] text-syoro border-syoro ${isActive ? 'active' : ''}`}
>
  {tag}
</a>