---
interface Props {
  angle?: number;
  startPercentage?: number;
  endPercentage?: number;
  className?: string;
}

const { 
  angle = 279.44,
  startPercentage = 7.13,
  endPercentage = 91.88,
  className = 'h-[40px] flex-1'
} = Astro.props;
---

<div 
  class={className}
  style={`background: linear-gradient(${angle}deg, #1E1E1E ${startPercentage}%, #324084 ${endPercentage}%)`}
>
  <slot />
</div>