---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h1 class:list={[
  "text-3xl text-slate-800 sm:text-6xl md:text-7xl lg:text-7xl font-medium lg:mt-20 mt-10 md:mt-15",
  className
]}>
  <slot />
</h1>


