---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<h2 class:list={[
  "font-bold text-slate-600 text-xl md:text-xl lg:text-lg lg:mb-3 md:mb-2 mb-1 uppercase font-sans",
  className
]}>
  <slot />
</h2>

<style>
  h2 {
    font-family: var(--font-serif);
  }
</style>