---
interface Props {
  imageSrc: string;
  alt?: string;
  children: any;
  imageWidth?: string;
  imagePercent?: number;
}

const {
  imageSrc,
  alt = '',
  children,
  imageWidth = 'md:w-1/5',
  imagePercent = 20
} = Astro.props;

const textPercent = 100 - imagePercent;
---

<div class="w-full lg:w-[120%] lg:-mx-[10%] mx-auto  flex flex-col md:flex-row gap-6 my-8 items-center bg-stone-50 p-8 rounded-lg self-center">
  <div class="p-5" style={`width: 100%; @media (min-width: 768px) { width: ${imagePercent}%; }`}>
    <img src={imageSrc} alt={alt} class="w-full rounded-lg p-0 m-0">
  </div>
  <div class="space-y-4 flex flex-col justify-center" style={`width: 100%; @media (min-width: 768px) { width: ${100 - imagePercent}%; }`}>
    <slot />
  </div>
</div>

<!--Usage
<ImagesLeft
  imageSrc="image.png"
  imagePercent={30}>
  <p>Content takes 70%</p>
</ImagesLeft>
-->