---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
const isExternal = href?.startsWith('http');
---

<a
  href={href}
  class:list={["group-hover:text-indigo-600,!important", className]}
  {...isExternal ? { target: '_blank', rel: 'noopener noreferrer' } : {}}
  {...props}
>
  <slot />
</a>
<style>
  a {
    color:var(--color-konpeki);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color:var(--color-konpeki) !important;
    text-underline-offset: .2em;
  }
  @keyframes linkAnimation {
  from {
    text-decoration: underline;
  }

  to {
    text-decoration: line-through;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-konpeki) !important;
  }
}
  a:hover {
    text-decoration: line-through;
    text-decoration-style: wavy;
    text-decoration-color:var(--color-konpeki);
    text-decoration-thickness: .1em;
    animation: .5s 1 forwards linkAnimation;
    transition: all .5s ease;
  }

  a {
    font-family: var(--font-sans);
  }

</style>