---
interface OverviewItem {
  title: string;
  content: string | string[];
  isList?: boolean;
}

interface Props {
  items: OverviewItem[];
}

const { items } = Astro.props;
---

<div class="w-full lg:w-[130%] lg:-mx-[10%] grid grid-cols-1 lg:grid-cols-3 lg:gap-8 mt-8 justify-between">
  {items.map((item) => (
    <div>
      <h3 class="text-sm lg:text-base uppercase">{item.title}</h3>
      {item.isList ? (
        <ul class="list-outside p-0 -mt-2 lg:text-lg text-base">
          {(item.content as string[]).map((bullet) => (
            <li class="p-0">{bullet}</li>
          ))}
        </ul>
      ) : (
        <p class="-mt-2 p-0 lg:text-lg text-base">{item.content}</p>
      )}
    </div>
  ))}
</div>


<!--
Usage Examples

import ProjectOverview from "/src/components/mdxComponents/ProjectOverview.astro";

<ProjectOverview
  items={[
    {
      title: "ROLE",
      content: "Associate Experience Designer"
    },
    {
      title: "RESPONSIBILITIES",
      content: [
        "Live Ops",
        "Managed UX for 4 games.",
        "Established UX in the roadmap pipeline."
      ],
      isList: true
    },
    {
      title: "IMPACTS",
      content: [
        "Optimized Onboarding Funnel - NURR ↑",
        "Increased Elder User Engagement Rates.",
        "Increased User Progression Rates."
      ],
      isList: true
    }
  ]}
/>
-->