---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<p class:list={[
  "prose dark:prose-invert max-w-4xl prose-stone text-xs md:text-sm",
  className
]}>
  <slot />
</p>
