---
interface Props {
  label?: string;
  description: string;
}

const {
  label = "Targeted Audience",
  description
} = Astro.props;
---

<div class="flex items-center justify-center w-full bg-cardbg border-1 border-stone-100 shadow-sm p-6 rounded-lg">
  <div class="flex flex-col md:flex-row w-ful items-start md:items-center">
    <div class="md:w-1/4">
      <h4 class="font-sans uppercase not-prose text-konpeki !important text-lg">{label}</h4>
    </div>
    <div class="md:w-3/4">
      <p class="text-syoro text-lg">{description}</p>
    </div>
  </div>
</div>

<!--
Usage Example

<TargetedAudience
  description="This document is targeted at UX designers and product managers working on gaming products."
/>

-->