---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Main from '../components/Main.astro';
import Link from '../components/mdxComponents/Link.astro';
import NoteCard from '../components/NoteCard.astro';
import EssayCard from '../components/EssayCard.astro';
import CustomCursor from '../components/CustomCursor.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="footer-reveal bg-backgroundcolor">
    
    <Main>
      <Header />
      <slot />
    </Main>
    <Footer />
    <CustomCursor />
  </body>
</html>

